@page
@model SMARTLY.Pages.All_AgenciesModel
@{
}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-lg-between">


        <a href="/Index" class="logo"><img src="assets/img/Smartly (4).png" height="120" width="120" alt="" class="img-fluid"></a>


        <nav id="navbar" class="navbar order-last order-lg-0">


            <ul>
                <li><a class="nav-link scrollto active" href="/Index">Home</a></li>
                <li><a class="nav-link scrollto" asp-page="/Products_Main">Product</a></li>
                <li class="dropdown">
                    <a asp-page="/Bundle_Out"><span>Bundles</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/Bundle_Item">Basic</a></li>
                        <li><a href="/Bundle_Out_Admin">Intermediate</a></li>
                        <li><a href="/Products_Main_Admin">Premium</a></li>
                    </ul>
                </li>
     
                <li> <a class="mobile-hide search-bar-icon" href="#"><i class="fa fa-search"></i></a></li>

            </ul>

            <i class="bi bi-list mobile-nav-toggle"></i>

        </nav><!-- .navbar -->
      
    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->

<main id="main">
<section id="hero2" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>All agencies</h1>

    </div>
</section>
</br>
</br>
</br>
<div class="Container">

    <table class="table table-striped center_Table" style="width:70%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Agency name</th>
            <th scope="col">Email</th>
              <th scope="col">location</th>
           
        </tr>
    </thead>
    <tbody>
       
        @for(int i =0; i<Model.dt.Rows.Count; i++)
        {
             <tr>
                <th scope="row">@(i+1)</th>
                @for(int j = 0; j<Model.dt.Columns.Count;j++)
                {
                         <td>@Model.dt.Rows[i][j]</td>
                         
                }
                        <td>
                           
                            <a asp-page="/EditAgency" asp-route-email="@Model.dt.Rows[i][1]" /> Update |
                            <a  asp-page="/DeleteAgency" asp-route-email="@Model.dt.Rows[i][1]" /> Delete
                          
                        </td>
              </tr>
          
        }
           
       
      
    </tbody>
</table>
<br/>
<br/>
        <button formmethod="post" type="button" class="btn btn-dark btn-block btn-lg" style="display:block; margin: 0 auto;"
                data-mdb-ripple-color="dark">
            <a href="/Add_Agency">
                Add new Agency
            </a>
        </button>

</div>
</br>
</br>
</br>