@page
@model SMARTLY.Pages.All_AgenciesModel
@{
}
<section id="hero2" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>All agencies</h1>

    </div>
</section>
</br>
</br>
</br>
<div class="Container">

    <table class="table table-striped center_Table" style="width:70%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Agency name</th>
  
            <th scope="col">Email</th>
              <th scope="col">location</th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Tech</td>
            <td>Tech@yahoo</td>
            <td>Down town</td>
           
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Electro</td>
                <td>Electro@gmail/td>
                <td>Nasr City</td>
            <td></td>
        </tr>
      
    </tbody>
</table>
</div>
</br>
</br>
</br>