@page
@model SMARTLY.Pages.All_OrdersModel
@{
    if (Model.type == 1)
        Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
    if (Model.type == 4)
        Layout = "/Pages/Shared/_LayoutManager.cshtml";
}
<!-- ======= Hero Section ======= -->


<section id="hero2" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Placed orders</h1>

    </div>
</section>
</br>
</br>
</br>
<div class="Container">


        <table class="table table-striped center_Table" style="width:70%">
            <thead>
                <tr>
                   
                    <th scope="col">OrderCode</th>
                    <th scope="col">Username</th>
                    <th scope="col">Amaount To Pay </th>
                    <th scope="col">Order Date</th>
               
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.dt.Rows.Count; i++)
                {
                    <tr>

                        @for (int j = 0; j < 4; j++)
                        {
                            <td>@Model.dt.Rows[i][j]</td>

                        }
                        <td>
                            <a asp-page="/DeleteAnOrder" asp-route-ordercode="@Model.dt.Rows[i][0]" /> Delete |    
                            <a asp-page="/Update" asp-route-ordercode="@Model.dt.Rows[i][0]" /> Update

                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>

<br />
</br>
</br>
</br>
</br>
</br>
</br>
