@page
@model SMARTLY.Pages.All_OrdersModel
@{
}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-lg-between">


        <a href="/Index" class="logo"><img src="assets/img/Smartly (4).png" height="120" width="120" alt="" class="img-fluid"></a>


        <nav id="navbar" class="navbar order-last order-lg-0">


            <ul>
                <li><a class="nav-link scrollto active" href="/Index">Home</a></li>
                <li><a class="nav-link scrollto" asp-page="/Products_Main">Product</a></li>
                <li class="dropdown">
                    <a asp-page="/Bundle_Out"><span>Bundles</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/Bundle_Item">Basic</a></li>
                        <li><a href="/Bundle_Out_Admin">Intermediate</a></li>
                        <li><a href="/Products_Main_Admin">Premium</a></li>
                    </ul>
                </li>

                <li> <a class="mobile-hide search-bar-icon" href="#"><i class="fa fa-search"></i></a></li>

            </ul>

            <i class="bi bi-list mobile-nav-toggle"></i>

        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->

<main id="main">
<section id="hero2" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Placed orders</h1>

    </div>
</section>
</br>
</br>
</br>
<div class="Container">

    <table class="table table-striped center_Table" style="width:70%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Order Code</th>
                <th scope="col">Adress</th>
                <th scope="col">Date of Order</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>#2123u293u</td>
                <td>Azhar street</td>
                <td>2 Sep 2020</td>
                <td> Delivered</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>#2372343513u</td>
                <td>Ali street</td>
                <td>2 Dec 2020</td>
                <td> Ordered</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>#r312636283</td>
                <td>Ragab street</td>
                <td>15 April 2020</td>
                <td> Deliverd</td>
            </tr>
        </tbody>
    </table>
</div>
</br>
</br>
</br>