@page
@model SMARTLY.Pages.All_AgenciesModel
@{
      if(Model.type==1)
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
    if(Model.type==4)
     Layout = "/Pages/Shared/_LayoutManager.cshtml";
}



<section id="hero2" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>All Agencies</h1>

    </div>
</section>
<br />
<br />
<br />
<section style="min-height: 500px; height:auto">
    <div class="Container">

    <table class="table table-striped center_Table" style="height: 100%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Agency name</th>
            <th scope="col">Email</th>
              <th scope="col">location</th>
           
        </tr>
    </thead>
    <tbody>
       
        @for(int i =0; i<Model.dt.Rows.Count; i++)
        {
                    <tr>
                <th scope="row">@(i+1)</th>
                @for(int j = 0; j<Model.dt.Columns.Count;j++)
                {
                         <td>@Model.dt.Rows[i][j]</td>
                         
                }
                        <td>
                           
                            <a asp-page="/EditAgency" asp-route-email="@Model.dt.Rows[i][1]" /> Update |
                            <a  asp-page="/DeleteAgency" asp-route-email="@Model.dt.Rows[i][1]" /> Delete
                          
                        </td>
              </tr>
          
        }
           
       
      
    </tbody>
</table>

<br/>
<br/>
        <button formmethod="post" type="button" class="btn btn-dark btn-block btn-lg" style="display:block; margin: 0 auto;"
                data-mdb-ripple-color="dark">
            <a href="/Add_Agency">
                Add new Agency
            </a>
        </button>
        <br/>
        <br/>
        <br/>
</div>

</section>