@page
@model SMARTLY.Pages.Bundle_OutModel
@{
    Layout = "/Pages/Shared/_LayoutClient.cshtml";
}


<section id="hero2" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>OUR BUNDLES</h1>
        
        </div>
</section>

<section id="pricing" class="pricing">
    <div class="container">

        <div class="section-title">
            
            <br />
            <br />

            

        <div class="row">

            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                <div class="box">
                    <h3>Basic</h3>
                       
                        <img class="circle" src="assets\img\Basic_Gray.png" alt="Basic Bundle" width="100" Hight=" 100"> 
                        <br/>
                         <br/>

                    <h4><sup>$</sup>100<span> / month</span></h4>
                    <ul>
                       
                       <li>To Control: </li>
                            <strong>
                            <li></li></strong>
             
                    </ul>
                    <div class="btn-wrap">
                            <a href="/Bundle_Item" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
                <div class="box featured">
                    <h3>Intermediate</h3>
                        <img class="circle" src="assets\img\2nd_bundle.png" alt="Basic Bundle" width="100" Hight=" 100">
                        <br />
                        <br />
                        
                    <h4><sup>$</sup>500<span> / month</span></h4>
                    <ul>
                           
                            <li>Help you</li>
                            <strong>
                            <li>Control both Lightining and Tempreture</li> </strong>
                    </ul>
                    <div class="btn-wrap">
                        <a href="/Bundle_Item" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                <div class="box">
                    <h3>Premium</h3>
                        <img class="circle" src="assets\img\3rd_bundle_gray.png" alt="Basic Bundle" width="200" Hight="200">
                        <br />
                        <br />
                    <h4><sup>$</sup>1000<span> / month</span></h4>
                    <ul>
                            <li>Help you</li>
                            <strong>
                            <li>Control your entire life</li> </strong>
                    </ul>
                    <div class="btn-wrap">
                         <a href ="/Bundle_Item" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Pricing Section -->
<br />
<br />
<br />