@page
@model SMARTLY.Pages.Bundle_Item_AdminModel
@{
}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-lg-between">


        <a href="/Index" class="logo"><img src="assets/img/Smartly (4).png" height="120" width="120" alt="" class="img-fluid"></a>


        <nav id="navbar" class="navbar order-last order-lg-0">


            <ul>
                <li><a class="nav-link scrollto active" href="/Index">Home</a></li>
                <li><a class="nav-link scrollto" asp-page="/Products_Main">Product</a></li>
                <li class="dropdown">
                    <a asp-page="/Bundle_Out"><span>Bundles</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/Bundle_Item">Basic</a></li>
                        <li><a href="/Bundle_Out_Admin">Intermediate</a></li>
                        <li><a href="/Products_Main_Admin">Premium</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/Contact_Us">Contact</a></li>

                <li>
                    <a class="shopping-cart" asp-page="/Cart"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li> <a class="mobile-hide search-bar-icon" href="#"><i class="fa fa-search"></i></a></li>

            </ul>

            <i class="bi bi-list mobile-nav-toggle"></i>

        </nav><!-- .navbar -->
        <a href="/LogIn" class="get-started-btn scrollto">Sign in</a>
    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->

<main id="main">
<style>
    header {
        background-image: url('assets/img/homeView.jpg');
    }
</style>
    <br />
    <br />
    <br />
    <br />



    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Bundle Details</h2>
                <ol>
                    <li><a href="Index">Home</a></li>
                    <li>Bundle Details</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <br />
    <br />

<!-- advertisement section -->
<div class="abt-section mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="abt-bg">
                    <img src="assets/img/Basissics.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="abt-text">
                    <p class="top-sub">First Stage</p>
                    <h2>This is <span class="orange-text">@Model.dt.Rows[0][4]</span></h2>
                    <p>Total Price: @Model.dt.Rows[0][1]</p>
                    <p>Number of Products: 6</p>
                    <p>Show the information of this Bundle Here.</p>
                    <button class="Admin_Button">Edit</button><br /><br />
                    <a href="Bundle_Out_Admin" class="boxed-btn mt-4">See Other Bundles</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end advertisement section -->
<br />
<br />
<br />
<br />

<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Products</span>
          <h2>Products of this Bundle</h2>
          <p>Here You Could Find The Products Of This Bundle</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
            </ul>
          </div>
        </div>

        <br />
        <br />
        <br />


            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">



                  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="assets/img/R1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                          <h4>Product Name</h4>
                          <p>Information about this product</p>
                          <a href="assets/img/R1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Edit"><i class="bx bx-plus"></i></a>
                    <a href="/Product_internal" class="details-link" title="Delete This"><i class="fa fa-times"></i></a>
                        </div>
                  </div>



                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="assets/img/R2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Product Name</h4>
                        <p>Information about this product</p>
                        <a href="assets/img/R2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Edit"><i class="bx bx-plus"></i></a>
                    <a href="/Product_internal" class="details-link" title="Delete This"><i class="fa fa-times"></i></a>
                    </div>
                </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <img src="assets/img/R3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Product Name</h4>
                    <p>Information about this product</p>
                    <a href="assets/img/R3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Edit"><i class="bx bx-plus"></i></a>
                    <a href="/Product_internal" class="details-link" title="Delete This"><i class="fa fa-times"></i></a>
                </div>
            </div>



            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <img src="assets/img/R4.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Product Name</h4>
                    <p>Information about this product</p>
                    <a href="assets/img/R4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Edit"><i class="bx bx-plus"></i></a>
                    <a href="/Product_internal" class="details-link" title="Delete This"><i class="fa fa-times"></i></a>
                </div>
            </div>

            </div>

      </div>
    </section>
<button class="Admin_Button" style="display:block; margin: 0 auto;">Add</button>

    <br />
    <br />

<!-- End Portfolio Section -->
