@page
@model SMARTLY.Pages.Bundle_Out_AdminModel
@{
}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-lg-between">


        <a href="/Index" class="logo"><img src="assets/img/Smartly (4).png" height="120" width="120" alt="" class="img-fluid"></a>


        <nav id="navbar" class="navbar order-last order-lg-0">


            <ul>
                <li><a class="nav-link scrollto active" href="/Index">Home</a></li>
                <li><a class="nav-link scrollto" asp-page="/Products_Main">Product</a></li>
                <li class="dropdown">
                    <a asp-page="/Bundle_Out"><span>Bundles</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/Bundle_Item">Basic</a></li>
                        <li><a href="/Bundle_Out_Admin">Intermediate</a></li>
                        <li><a href="/Products_Main_Admin">Premium</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/Contact_Us">Contact</a></li>

                <li>
                    <a class="shopping-cart" asp-page="/Cart"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li> <a class="mobile-hide search-bar-icon" href="#"><i class="fa fa-search"></i></a></li>

            </ul>

            <i class="bi bi-list mobile-nav-toggle"></i>

        </nav><!-- .navbar -->
        <a href="/LogIn" class="get-started-btn scrollto">Sign in</a>
    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->

<main id="main">
<section id="hero2" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>OUR BUNDLES</h1>
        
        </div>
</section>

<section id="pricing" class="pricing">
    <div class="container">

        <div class="section-title">
            
            <br />
            <br />

            

        <div class="row">

            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                <div class="box">
                    <h3>Basic</h3>
                       
                        <img class="circle" src="assets\img\Basic_Gray.png" alt="Basic Bundle" width="100" Hight=" 100">
                    <h4><sup>$</sup>0<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li class="na">Pharetra massa</li>
                        <li class="na">Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                            <a href="/Bundle_Item_Admin" class="Admin_Button">Edit</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
                <div class="box featured">
                    <h3>Business</h3>
                        <img class="circle" src="assets\img\2nd_bundle.png" alt="Basic Bundle" width="100" Hight=" 100">
                        
                    <h4><sup>$</sup>19<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li class="na">Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                            <a href="/Bundle_Item_Admin" class="Admin_Button">Edit</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                <div class="box">
                    <h3>Developer</h3>
                        <img class="circle" src="assets\img\3rd_bundle_gray.png" alt="Basic Bundle" width="200" Hight="200">
                    <h4><sup>$</sup>29<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li>Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                            <a href="/Bundle_Item_Admin" class="Admin_Button">Edit</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Pricing Section -->
<br />
<br />
<br />