@page
@model SMARTLY.Pages.CheckDataModel
@{
    if(Model.type==3)
    Layout = "/Pages/Shared/_LayoutClient.cshtml";
    if (Model.type == 2)
    Layout = "/Pages/Shared/_LayoutAgency.cshtml";
    if (Model.type == 1)
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

<section id="hero2" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">

       

    </div>
</section>
<section>
    </br>
    </br>
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">

                <form method="post" class="signin-form">
                    <div class="form-group">
                        <input asp-for="@Model.password" type="text" class="form-control" placeholder="Enter your old password">
                      </div>
                    @if (Model.message != "free")
                    {
                        <p style="color: red"> @Model.message</p>
                    }
                    <div class="form-group">
                        <button type="submit" class="form-control btn primary-btn1">Proceed</button>
                    </div>

                </form>
                </div >
                    <!-- row -->
        </div>
    </div>
      </div>
    </div >
</br>
</br>
