@page
@model SMARTLY.Pages.CheckOutModel
@{
	
}

<style>
    header {

        background-image: url('assets/img/homeView.jpg');
        position:fixed;
        
    }
</style>
  
<br />

<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<div class="section">
	<!-- container -->
	<div class="container">
		<div id="breadcrumb1" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
							<div class="form-group">
								<input  class="form-control" type="text" name="first-name" placeholder="First Name">
							</div>
							<div class="form-group">
								<input  class="form-control" type="text" name="last-name" placeholder="Last Name">
							</div>
							<div class="form-group">
								<input  class="form-control" type="email" name="email" placeholder="Email">
							</div>
							<div class="form-group">
								<input  class="form-control" type="text" name="address" placeholder="Address">
							</div>
							<div class="form-group">
								<input  class="form-control" type="text" name="city" placeholder="City">
							</div>
							<div class="form-group">
								<input  class="form-control" type="text" name="country" placeholder="Country">
							</div>
							<div class="form-group">
								<input  class="form-control" type="text" name="zip-code" placeholder="ZIP Code">
							</div>
							<div class="form-group">
								<input  class="form-control" type="tel" name="tel" placeholder="Telephone">
							</div>
							<div class="form-group">
								<div class="input-checkbox">
								
									<label for="create-account"> <a href="/SignUp">
										<span></span>
										Don't Have Account?
										</a>
									</label>
									<div class="caption">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
										<input class="input" type="password" name="password" placeholder="Enter Your Password">
									</div>
								</div>
							</div>
						</div>
						<!-- /Billing Details -->

						<!-- Shiping Details -->
						<div class="shiping-details">
							<div class="section-title">
								<h3 class="title">Shiping address</h3>
							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="shiping-address">
								<label for="shiping-address">
									<span></span>
									Ship to a diffrent address?
								</label>
								<div class="caption">
									<div class="form-group">
										<input  class="form-control"  type="text" name="first-name" placeholder="First Name">
									</div>
									<div class="form-group">
										<input  class="form-control" type="text" name="last-name" placeholder="Last Name">
									</div>
									<div class="form-group">
										<input  class="form-control" type="email" name="email" placeholder="Email">
									</div>
									<div class="form-group">
										<input t class="form-control" type="text" name="address" placeholder="Address">
									</div>
									<div class="form-group">
										<input  class="form-control" type="text" name="city" placeholder="City">
									</div>
									<div class="form-group">
										<input  class="form-control" type="text" name="country" placeholder="Country">
									</div>
									<div class="form-group">
										<input  class="form-control" type="text" name="zip-code" placeholder="ZIP Code">
									</div>
									<div class="form-group">
										<input  class="form-control" type="tel" name="tel" placeholder="Telephone">
									</div>
								</div>
							</div>
						</div>
						<!-- /Shiping Details -->

						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="form-control" placeholder="Order Notes"></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
								<div class="order-col">
									<div>1x Alexa blue</div>
									<div>$980.00</div>
								</div>
								<div class="order-col">
									<div>2x Alexa Gold</div>
									<div>$980.00</div>
								</div>
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">$2940.00</strong></div>
							</div>
						</div>
						<div class="payment-method">

							<div class="input-radio">
								<input type="radio" name="payment" id="payment-2">
								<label for="payment-2">
									<span></span>
									<i class="fa fa-cc-visa"></i><span></span> Credit / Debit Card
								</label>

							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-1">
								<label for="payment-1">
									<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
										<title>Vodafone</title>
										<path d="M12 0A12 12 0 0 0 0 12A12 12 0 0 0 12 24A12 12 0 0 0 24 12A12 12 0 0 0 12 0M16.25 1.12C16.57 1.12 16.9 1.15 17.11 1.22C14.94 1.67 13.21 3.69 13.22 6C13.22 6.05 13.22 6.11 13.23 6.17C16.87 7.06 18.5 9.25 18.5 12.28C18.54 15.31 16.14 18.64 12.09 18.65C8.82 18.66 5.41 15.86 5.39 11.37C5.38 8.4 7 5.54 9.04 3.85C11.04 2.19 13.77 1.13 16.25 1.12Z" />
									</svg>
									<span></span>Vodafone Cash
								</label>
							</div>	
							<div class="input-radio">
								
									<input type="radio" name="payment" id="payment-3">
									<label for="payment-3">
										<span></span>
										<i class="fa fa-fawry"></i>
									<span></span>Fawry
									</label>
								</div>
						</div>
						<div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								I've read and accept the <a href="/About">terms & conditions</a>
							</label>
						</div>
						<br>
						<button type="button" class="btn btn-dark btn-block btn-lg" style="display:block; margin: 0 auto;">
							<a href="/PlacedOrder">
								Place Order
							</a>
						</button>

					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
    </div>
</div>

<br />

<br />
<br />
<br />
<br />
<br />