@page
@model SMARTLY.Pages.Contact_Us_AdminModel
@{
    if (Model.type == 1)
        Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
    if (Model.type == 4)
        Layout = "/Pages/Shared/_LayoutManager.cshtml";
    
}
<section id="hero2" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1> Messege sent </h1>

    </div>
</section>
</br>
</br>
</br>
<div class="Container">


    <table class="table table-striped center_Table" style="width:70%">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.dt.Rows.Count; i++)
            {
                <tr>

                    @for (int j = 0; j < 4; j++)
                    {
                        <td>@Model.dt.Rows[i][j]</td>

                    }
                    <td>
                       
                    
                        <div class="footer-info">

                            <p>
                                
                               
                              <a href="mailto:@(Model.dt.Rows[i][1])">Contact</a><br>

                            </p>

                        </div>

                    </td>
                    <td>


                        <div class="footer-info">

                            <p>


                                <a asp-page="/DeleteContact" asp-route-email="@Model.dt.Rows[i][1]" asp-route-message="@Model.dt.Rows[i][3]">Delete</a><br>

                            </p>

                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

                                <br/>

                </br>
</br>
</br>

                                </br>
</br>
</br>