@page
@model SMARTLY.Pages.Contact_UsModel
@{
}

<style>
    header {
        background-image: url('assets/img/homeView.jpg');
       
    }
</style>
<!--<p style="background-image: url('assets/img/homeView.jpg');"> Hello</p>-->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-lg-between">


        <a href="/Index" class="logo"><img src="assets/img/Smartly (4).png" height="120" width="120" alt="" class="img-fluid"></a>


        <nav id="navbar" class="navbar order-last order-lg-0">


            <ul>
                <li><a class="nav-link scrollto active" href="/Index">Home</a></li>
                <li><a class="nav-link scrollto" asp-page="/Products_Main">Product</a></li>
                <li class="dropdown">
                    <a asp-page="/Bundle_Out"><span>Bundles</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/Bundle_Item">Basic</a></li>
                        <li><a href="/Bundle_Out_Admin">Intermediate</a></li>
                        <li><a href="/Products_Main_Admin">Premium</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/Contact_Us">Contact</a></li>

                <li>
                    <a class="shopping-cart" asp-page="/Cart"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li> <a class="mobile-hide search-bar-icon" href="#"><i class="fa fa-search"></i></a></li>

            </ul>

            <i class="bi bi-list mobile-nav-toggle"></i>

        </nav><!-- .navbar -->
        <a href="/LogIn" class="get-started-btn scrollto">Sign in</a>
    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->

<main id="main">

<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="section-title">
            <h2>Know more</h2>
            <p>About US</p>
        </div>

        <div class="row " >

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img ">
                        <img src="assets/img/Smartly (4).png" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info" >
                        <h4>Follow us</h4>
                        <span>and Keep in touch</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 d-flex align-items-stretch"></div>
          
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                    <h1>Who We are?</h1> <br />
                  <h3>
                   we are a startup company based in London, Launching now in Egypt, in the field of Smart home technologies, we are providing you a system that connects with your appliances to automate specific tasks and  typically remotely controlled.
                   </h3>

                </div>
            </div><!-- End Icon Box -->

             </div>

        </div>

    </div>
</section>
<!-- End Team Section -->


<!-- End Testimonials Section -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact" style="display:block; margin: 0 auto;">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div>

     

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Egypt</p>
                    </div>
                  
                    
                    
                  
                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p <a href="mailto:Smartly@gmail.com"> Smartly@gmail.com </a></p>
                    </div>


                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+20 0158 9554 885</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section>
<br />
<br />

<!-- End Contact Section -->
