@page
@model SMARTLY.Pages.DeleteAnOrderModel
@{
}

<section id="hero2" class="d-flex align-items-center">
	<div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
		<h1>Placed orders</h1>

	</div>
</section>


<h1>Delete Page</h1>
<p>Are you sure you want to delete this ite</p>
<form method="post" id="deleteForm">
    <div class="form-group">
        <button type="button" class="btn btn-danger" onclick="confirmDelete()">Confirm</button>
        <button type="button" class="btn btn-secondary" onclick="closeDeleteWindow()">Cancel</button>
    </div>
</form>

<script>
    function closeDeleteWindow() {
        window.close(); // Close the pop-up window
    }

    function confirmDelete() {
        var deleteForm = document.getElementById("deleteForm");
        deleteForm.submit(); // Submit the form
    }
</script>