@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h2>SMARTLY</h2>
      
      <h2> Your home, only smarter</h2> 
      <br>
        <a href="#about" class="get-started-btn">Get Started</a>
    </div>
</section>
<br/>
<br />
<br />
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-right">
                <img src="assets/img/vision.jpeg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>Vision</h3> <br />
                <p class="fst-italic">
                    Welcome to the future of living! Our smart home company envisions a world where technology seamlessly integrates into every aspect of your home, making it safer, more efficient, and truly connected. From automated energy management to personalized comfort settings, our smart solutions empower you to live smarter and greener, while enhancing your lifestyle like never before. Experience the ultimate smart home experience with us!
                </p>
              
            </div>
        </div>

    </div>
</section>


<section id="services" class="current">
    <div class="services-top" data-aos="fade-up">
        <div class="container bootstrap snippets bootdey">
            <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-md-12">
                    <h2>What We Offer</h2>
                    <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Our Services</h2>
                    <p>Our <span class="highlight">experienced</span> and <span class="highlight">dedicated</span> staff provide these services with a smile.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                    <div class="services-list">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    
                                    <div class="text-block">
                                        <div class="name">Complete Smart Home Solutions</div>
                                   
                                        <div class="info"> The smart home company offers comprehensive solutions for home automation, security, energy management, entertainment, and health monitoring, providing clients with a seamless and integrated smart living experience. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                  
                                    <div class="text-block">
                                        <div class="name">Cutting-Edge Technology</div>
                                        <div class="info">
                                            The smart home company utilizes state-of-the-art technologies, including advanced sensors, smart devices, and cloud-based platforms, to deliver reliable, secure, and scalable smart home solutions that meet the evolving needs of clients.
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                  
                                    <div class="text-block">
                                        <div class="name">Professional Installation and Support</div>
                                        <div class="info">The smart home company provides professional installation, setup, and ongoing support for their smart home systems, ensuring a hassle-free experience for clients and maximizing the performance and longevity of the smart home ecosystem.</div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="alt-services" class="alt-services">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
            <div class="col-lg-6 img-bg" style="background-image: url(assets/img/useraccess.jpeg);" data-aos="zoom-in" data-aos-delay="100"></div>

            <div class="col-lg-5 d-flex flex-column justify-content-center">
                <h3>User access</h3>
             
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
                    <i class="ri-check-double-line"></i>
                    <div>
                        <h4>Remote control and automation</h4>
                        <p>Clients can control and automate their home remotely using mobile apps, voice commands, and smart assistants, providing convenience and control from anywhere.</p>
                    </div>
                </div><!-- End Icon Box -->

                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
                    <i class="ri-check-double-line"></i>
                    <div>
                        <h4>Enhanced security and energy efficienc</h4>
                        <p>Clients can monitor and control their home's security and energy systems, reducing costs, and enhancing safety and sustainability.</p>
                    </div>
                </div><!-- End Icon Box -->

                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                    <i class="ri-check-double-line"></i>
                    <div>
                        <h4>Personalized comfort and expandability</h4>
                        <p>Clients can customize settings, enjoy seamless entertainment, and expand their smart home system as needed, creating a personalized and future-proofed home experience.</p>
                    </div>
                </div><!-- End Icon Box -->

            </div>
        </div>

    </div>
</section><!-- End Alt Services Section -->
<!-- logo carousel -->


<br />
<br />
<br /> 