@page
@model SMARTLY.Pages.PoliciesModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}


<section id="hero2" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>  Terms of service</h1>
        
</section>


<br />
<br />
<br />
<br />
<section id="about" class="about">
    <div class="container">
        <div class="row">
           
      
           
            <div class="col-lg-9 pt-5 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>Policy</h3> <br />
                <p class="fst-italic">
                    <ul>
                        1. Introduction

                    Our smart home company  is committed to protecting your privacy.<br /> This Privacy Policy ("Policy") explains how we collect, use, and disclose personal information in connection with our smart home products and services ("Services"). By using our Services, you agree to the terms of this Policy.

                    </ul>
                    <br />
                    <br />

                    
                    <ul>
                        2. Information We Collect<br />
                      
                    </ul>

                    We may collect personal information from you in connection with your use of our Services. This may include:<br />

                    - Contact information, such as your name, email address, and phone number.<br />
                    - Payment information, such as your credit card number or other financial information.<br />
                    - Technical information, such as your IP address, browser type, and operating system.<br />
                    - Usage information, such as how you interact with our Services.<br />

                    We may also collect information from third-party sources, such as social media platforms or other companies that provide data services.<br />

                    <br />
                    <br />

                    <ul>
                    3. How We Use Your Information<br />
                    </ul>

                    We use your personal information for a variety of purposes, including:<br />

                    - Providing our Services to you.<br />
                    - Responding to your requests and inquiries.<br />
                    - Processing payments and fulfilling orders.<br />
                    - Analyzing and improving our Services.<br />
                    - Communicating with you about our Services and other products and services that may be of interest to you.<br />
                    - Complying with legal and regulatory requirements.<br />

                    We may also use your information in other ways that we notify you of at the time of collection or with your consent.<br />

                    <br />
                    <br />

                    <ul>
                    4. How We Share Your Information<br />
                    </ul>

                    We may share your personal information with third parties in certain circumstances, including:<br />

                    - With service providers who help us provide our Services, such as payment processors, shipping providers, and marketing companies.<br />
                    - With other companies in the same corporate group as us.<br />
                    - In connection with a merger, acquisition, or other business transaction.<br />
                    - To comply with legal and regulatory requirements, or to protect our rights or the rights of others.<br />

                    We may also share information that has been de-identified or aggregated in a way that does not identify you.<br />

                    <br />
                    <br />

                    <ul>
                    5. Cookies and Other Tracking Technologies<br />
                    </ul>
                    We may use cookies, web beacons, and other tracking technologies to collect information about your use of our Services. This information may be used for a variety of purposes, including:<br />

                    - Personalizing your experience on our website.<br />
                    - Analyzing and improving our Services.<br />
                    - Providing targeted advertising.<br />

                    You can control the use of cookies and other tracking technologies through your browser settings.<br />

                    <br />
                    <br />

                    <ul>
                    6. Security<br />
                    </ul>
                    We take reasonable measures to protect your personal information from unauthorized access, disclosure, or destruction. However, no method of transmission over the Internet or electronic storage is completely secure, and we cannot guarantee absolute security.<br />

                    <br />
                    <br />

                    <ul>
                    7. Children's Privacy<br />
                    </ul>
                    Our Services are not intended for use by children under the age of 13, and we do not knowingly collect personal information from children under the age of 13.<br />

                    <br />
                    <br />

                    <ul>
                    8. Your Rights and Choices<br />
                    </ul>
                    You may have certain rights with respect to your personal information, such as the right to access and correct your information or to request that we delete your information. You may also have the right to opt out of certain types of data processing.<br />

                    To exercise your rights, or if you have any questions or concerns about our privacy practices, please contact us using the information provided below.<br />

                    <br />
                    <br />

                    <ul>
                    9. Changes to this Policy
                    </ul>
                    We may update this Policy from time to time in our sole discretion. We will post the updated Policy on our website, and your continued use of our Services after the posting of any changes constitutes your acceptance of those changes.<br />

                    <br />
                    <br />

                    <ul>
                    10. Contact Us<br />
                    </ul>
                    If you have any questions or concerns about our privacy practices, please contact us .<br />

                </p>

            </div>
        </div>

    </div>
</section>

<br />
<br />
<br />
<br />
<section id="about" class="about">
    <div class="container">
        <div class="row">



            <div class="col-lg-9 pt-5 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>Refunds Policy:</h3> <br />
                <p class="fst-italic">


                    <ul>
                    1. Refunds
                    </ul>



                    Our smart home company offers a refund policy for the purchase of our products and services. If you are not satisfied with your purchase for any reason, you may request a refund within 30 days of the date of purchase. After 30 days, we do not offer refunds.

                    <br />
                    <br /
                    <ul>
                    2. Eligibility
                    </ul>


                    To be eligible for a refund, you must meet the following criteria:



                    - You must have purchased the product or service directly from our smart home company.

                    - The product or service must not have been used or damaged.

                    - You must provide proof of purchase, such as an order number or receipt.

                    - You must request the refund within 30 days of the date of purchase.


                    <br />
                    <br />
                   
                    <ul>
                    3. Refund Process
                    </ul>



                    To request a refund, please contact our customer service team at [insert email or phone number]. We will review your request and respond to you within 3 business days. If your request is approved, we will initiate the refund process. The refund will be issued to the original payment method used for the purchase.


                    <br />
                    <br />
                    <ul>
                    4. Non-Refundable Products and Services

                    </ul>

                    The following products and services are non-refundable:



                    - Services that have already been provided, such as installation or consultation services.

                    - Products that have been used or damaged.

                    - Products that have been modified or altered by the customer.


                    <br />
                    <br />
                    <ul>

                    5. Shipping Costs

                    </ul>

                    Shipping costs for products are non-refundable. If you received free shipping as part of a promotion, the cost of shipping will be deducted from your refund.


                    <br />
                    <br />
                    <ul>
                    6. Changes to Refund Policy
                    </ul>


                    Our smart home company reserves the right to modify or amend this refund policy at any time. Any changes to the policy will be posted on our website, and your continued use of our products and services after the changes have been made will constitute your acceptance of the revised policy.


                    <br />
                    <br />
                    <ul>
                    7. Contact Us
                    </ul>


                    If you have any questions or concerns about our refund policy, please contact us . 
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />



                </p>

            </div>
        </div>

    </div>
</section>