
@page
@model SMARTLY.Pages.ClientView.Products_MainModel
@{
   

} 
<section id="hero2" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>OUR PRODUCTS</h1>
</section>

<br />

	<div class="header-search">
	<form>
			<input class="input-select" ></input>
		
		
			<button class="search-btn">Search</button>
			
		
	</form>


	
</div>
	<!-- products -->
<div class="product-section mt-150 mb-150">
<div class="container">

<div class="row">
    <div class="col-md-12">
        <div class="product-filters">
            <ul>
                <li class="active" data-filter="*">All</li>
                <li data-filter=".strawberry">Alexa</li>
                <li data-filter=".berry">Doors</li>
                <li data-filter=".lemon">Switches</li>
			<li data-filter=".berry">Touch Panel</li>
			<li data-filter=".berry">Motion Detector</li>
            </ul>
        </div>
    </div>
</div>

