@page
@model SMARTLY.Pages.Product_internalModel
@{
}

<header id="header" class="fixed-top">
	<div class="container d-flex align-items-center justify-content-lg-between">


		<a href="/Index" class="logo"><img src="assets/img/Smartly (4).png" height="120" width="120" alt="" class="img-fluid"></a>


		<nav id="navbar" class="navbar order-last order-lg-0">


			<ul>
				<li><a class="nav-link scrollto active" href="/Index">Home</a></li>
				<li><a class="nav-link scrollto" asp-page="/Products_Main">Product</a></li>
				<li class="dropdown">
					<a asp-page="/Bundle_Out"><span>Bundles</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
						<li><a href="/Bundle_Item">Basic</a></li>
						<li><a href="/Bundle_Out_Admin">Intermediate</a></li>
						<li><a href="/Products_Main_Admin">Premium</a></li>
					</ul>
				</li>
				<li><a class="nav-link scrollto" href="/Contact_Us">Contact</a></li>

				<li>
					<a class="shopping-cart" asp-page="/Cart"><i class="fa fa-shopping-cart"></i></a>
				</li>
				<li> <a class="mobile-hide search-bar-icon" href="#"><i class="fa fa-search"></i></a></li>

			</ul>

			<i class="bi bi-list mobile-nav-toggle"></i>

		</nav><!-- .navbar -->
		<a href="/LogIn" class="get-started-btn scrollto">Sign in</a>
	</div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->

<main id="main">
<section id="hero2" class="d-flex align-items-center">
	<div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
		<h1>OUR PRODUCTS</h1>
		<div class="header-search">
			<form>
				<input class="input-select"></input>
				<button class="search-btn">Search</button>
			</form>
		</div>
</section>

<br />

<br/>
<br/>
<br />
<br/>
<div id="breadcrumb1" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb-tree">
					<li><a href="/Index">Home</a></li>
					<li><a href="/Products_Main">All Categories</a></li>
					<li><a href="/Products_Main">Alexa Hub</a></li>
					<li class="active">Alexa</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<br/>
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			
			<!-- /Product thumb imgs -->
			<div class="col-md-4 col-md-push-2" data-aos="fade-up" data-aos-delay="500">
			<section id="testimonials1" class="testimonials1">
				<div class="container" data-aos="zoom-in">

					<div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<div class="testimonial-item">
									<div id="product-main-img" class="slick-initialized slick-slider">
										
										<div class="product-preview">
											<img src="/assets/img/OIP (3).jpg" alt="">
										</div>
									</div>
								</div>
							</div><!-- End testimonial item -->
							<div class="swiper-slide">
								<div class="testimonial-item">
									<div id="product-main-img" class="slick-initialized slick-slider">
										
										<div class="product-preview">
											<img src="/assets/img/OIP (1).jpg" alt="">
										</div>
									</div>
								</div>
							</div><!-- End testimonial item -->
								<div class="swiper-slide">
									<div class="testimonial-item">
										<div id="product-main-img" class="slick-initialized slick-slider">

											<div class="product-preview">
												<img src="/assets/img/OIP (2).jpg" alt="">
											</div>
										</div>
									</div>
								</div><!-- End testimonial item -->
								<div class="swiper-slide">
									<div class="testimonial-item">
										<div id="product-main-img" class="slick-initialized slick-slider">

											<div class="product-preview">
												<img src="/assets/img/20200925160928-108091078-A.webp" alt="">
											</div>
										</div>
									</div>
								</div><!-- End testimonial item -->
						</div>
					</div>
				</div>
			</section>
			</div>
			<!-- End Testimonials Section -->
		
			<!-- Product details -->
			<div class="col-md-1"></div>
			<div class="col-md-6">
				<div class="product-details" data-aos="fade-up" data-aos-delay="500">
					<br/>
					<h2 class="product-name">Alexa</h2>
					<div>
						<div class="product-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>
						<a class="review-link" href="#">10 Review(s) | Add your review</a>
					</div>
					<div>
						<h3 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h3>
						<span class="product-available">In Stock</span>
					</div>
					<p>
						Echo Dot is a smart speaker that uses Alexa, a voice assistant that performs tasks like controlling smart home hardware, setting timers, and answering questions. The Echo Dot has a different design from other Echo speakers and is the least expensive Echo speaker.

						
					</p>
				
					<div class="product-options">
						<label>
							
							<select class="input-select1">
								<option value="0">Red</option>
								<option value="1">Black</option>
								<option value="2">White</option>
								<option value="3">Blue</option>
							</select>
						</label>
						<label>
							
						<div class="input-number">
								<input type="number" placeholder="1">
								<span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>
						</label>

					</div>

					
					
					<ul class="product-links">
						<li>Category:</li>
						<li><a href="#">Alexa Hub</a></li>
						
					</ul>
					<ul class="product-links">

						<li>Brand: Generic </br>
							Connectivity technology	Bluetooth </br>
							Special features	Bluetooth </br>
							Compatible devices	Laptop, Tablet, Smartphone </br>
							Mounting type	Tabletop </br>
							Controller type	Amazon Alexa, Voice Control </br>
							Surround sound channel configuration	2 </br>
							Colour	Deep Sea Blue </br>
							Product dimensions	5D x 5W x 5H centimeters </br>
							Frequency response	17.5 KHz</br>
						</li>
						
					</ul>

					<div class="add-to-cart">
						<ul class="product-btns">
							<li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
							<li></i> </li>

							<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
						</ul>
					</div>

				</div>

			</div>
			<div class="col-md-12">
				<div id="product-tab">
					<!-- product tab nav -->
					<ul class="tab-nav">
						<li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>
					</ul>
					
							<div class="row" data-aos="fade-up">
								<!-- Rating -->
								<div class="col-md-3">
									<div id="rating">
										<div class="rating-avg">
											<span>4.5</span>
											<div class="rating-stars">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											</div>
										</div>
										<ul class="rating">
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-progress">
													<div style="width: 80%;"></div>
												</div>
												<span class="sum">3</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div style="width: 60%;"></div>
												</div>
												<span class="sum">2</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div></div>
												</div>
												<span class="sum">0</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div></div>
												</div>
												<span class="sum">0</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div></div>
												</div>
												<span class="sum">0</span>
											</li>
										</ul>
									</div>
								</div>
								<!-- /Rating -->
								<!-- Reviews -->
								<div class="col-md-6">
									<div id="reviews">
										<ul class="reviews">
											<li>
												<div class="review-heading">
													<h5 class="name">Tasneem</h5>
													<p class="date">5 May 2023, 2:0 PM</p>
													<div class="review-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o empty"></i>
													</div>
												</div>
												<div class="review-body">
													<p>Amazing!</p>
												</div>
											</li>
											<li>
												<div class="review-heading">
													<h5 class="name">Ali</h5>
													<p class="date">2 Sep 2021, 8:0 PM</p>
													<div class="review-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o empty"></i>
													</div>
												</div>
												<div class="review-body">
													<p>Nice.</p>
												</div>
											</li>
											<li>
												<div class="review-heading">
													<h5 class="name">Muhammed</h5>
													<p class="date">12 DEC 2020, 8:0 PM</p>
													<div class="review-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o empty"></i>
													</div>
												</div>
												<div class="review-body">
													<p>Great!</p>
												</div>
											</li>
										</ul>
										<br/>
								<br />
										<ul class="reviews-pagination">
											<li class="active">1</li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- /Reviews -->
								<!-- Review Form -->
								<div class="col-md-3">
									<h5>Submit your review</h5>
									<br/>
										<form class="review-form">
											<input class="input" type="text" placeholder="Your Name">
											<input class="input" type="email" placeholder="Your Email">
											<textarea class="input" placeholder="Your Review"></textarea>
											<div class="input-rating">
												<span>Your Rating: </span>
												<div class="stars">
													<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
													<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
													<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
													<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
													<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
												</div>
											</div>
											<button class="primary-btn1">Submit</button>
										</form>
									</div>
								
								<!-- /Review Form -->
							</div>
						
				</div>
			</div>
			<!-- /product tab -->
			<!-- /Product details -->
	
					
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<!-- Section -->
<br />
<br />
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<div class="col-md-12">
				<div class="section-title text-center">
					<h3 class="title">Related Products</h3>
				</div>
			</div>

			<!-- product -->
			<div class="col-md-3 col-xs-6">
				<div class="product">
					<div class="product-img">
						<img src="/assets/img/Alexa.jpg" alt="">
						<div class="product-label">
							<span class="sale">-30%</span>
						</div>
					</div>
					<div class="product-body">
						<p class="product-category">Alexa Hub</p>
						<h3 class="product-name"><a href="#">Alexa</a></h3>
						<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
						<div class="product-rating">
						</div>
						<div class="product-btns">
							<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
							<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
						</div>
					</div>
					<div class="add-to-cart">
						<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
					</div>
				</div>
			</div>
			<!-- /product -->
			<!-- product -->
			<div class="col-md-3 col-xs-6">
				<div class="product">
					<div class="product-img">
						<img src="/assets/img/Alexa.jpg" alt="">
						<div class="product-label">
							<span class="sale">-30%</span>
						</div>
					</div>
					<div class="product-body">
						<p class="product-category">Alexa Hub</p>
						<h3 class="product-name"><a href="#">Alexa</a></h3>
						<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
						<div class="product-rating">
						</div>
						<div class="product-btns">
							<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
							<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
						</div>
					</div>
					<div class="add-to-cart">
						<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
					</div>
				</div>
			</div>
			<!-- /product -->
			<!-- product -->
			<div class="col-md-3 col-xs-6">
				<div class="product">
					<div class="product-img">
						<img src="/assets/img/Alexa.jpg" alt="">
						<div class="product-label">
							<span class="sale">-30%</span>
						</div>
					</div>
					<div class="product-body">
						<p class="product-category">Alexa Hub</p>
						<h3 class="product-name"><a href="#">Alexa</a></h3>
						<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
						<div class="product-rating">
						</div>
						<div class="product-btns">
							<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
							<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
						</div>
					</div>
					<div class="add-to-cart">
						<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
					</div>
				</div>
			</div>
			<!-- /product -->
			<!-- product -->
			<div class="col-md-3 col-xs-6">
				<div class="product">
					<div class="product-img">
						<img src="/assets/img/Alexa.jpg" alt="">
						<div class="product-label">
							<span class="sale">-30%</span>
						</div>
					</div>
					<div class="product-body">
						<p class="product-category">Alexa Hub</p>
						<h3 class="product-name"><a href="#">Alexa</a></h3>
						<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
						<div class="product-rating">
						</div>
						<div class="product-btns">
							<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
							<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
						</div>
					</div>
					<div class="add-to-cart">
						<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
					</div>
				</div>
			</div>
			<!-- /product -->

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /Section -->
<br />
<br />
<br />
<br />